@import "./font.css";
@import "./default.css";
@import "./font-awesome.css";

/* 전체 레이아웃 */
#wrap { width: 100%; }
#header { width: 100%; }
#main { width: 100%; }


/* 공용 컨테이너 */
.container { width: 950px; margin: 0 auto; text-align: center;}

/* 레이아웃 여백 */
.row { }  


/* 헤더 */
.header { display: flex; justify-content:space-between; align-items: center; flex-wrap: nowrap;}
.header-logo { }
.header-logo h1 { color: #606DB8; font-size: 40px; letter-spacing: 0.1em; font-weight: bold;}

.header-user { display: flex; flex-direction: column; align-items:center; justify-content: flex-end; }
.header-user ul li { display: inline-block; }

.header-user-login ul li { display: inline-block; padding: 20px 0 16px 16px; } 
.header-user-login ul li a { font-size: 20px; color: gray;}

.header-user-info ul li { position: relative; display: inline-block; padding: 0 0 16px 16px; margin-left: 38px;}
.header-user-info ul li:last-child:before { content:""; width: 75px; height: 1px; background-color: gray; position: absolute; bottom: 5px; right: -42px;}
.header-user-info ul li a { font-size: 30px;}

/* 메인 */

#main .row { padding: 24px;}
.main-book { display: flex; justify-content: flex-start; flex-wrap: nowrap;}
.main-book-img { width: 180px; height: 260px; margin-left:56px;}
.main-book-img img { width: 100%; height: 100%;}

.main-book-info { text-align: left; margin-left: 62px; width: 500px;}
.main-book-info ul li:nth-child(3) div { margin-top: 12px; font-weight: 500;}
.author { color: black;}
.main-book-info ul li:first-child div { margin: 0;}
.book-info-cont { font-size: 14px;}
.book-info-cont ul { display: flex; justify-content: flex-start;}
.book-info-cont ul li:first-child { width: 60px; }

.price { margin-top: 70px; position: relative;}
.price:before { content:""; width: 506px; height: 1px; background-color: gray; position: absolute; bottom: -7px; right: 0;}
.price ul li:first-child { font-size: 16px; color: gray; margin-left: 61px;}
.price ul { display: flex; justify-content: space-between; align-items: center;}
.price .price-won { font-size: 18px; font-weight: 700; color: #606DB8;}

.main-user-buy ul { display: flex; justify-content: flex-end; align-items: center; margin-top: 20px;}
.main-user-buy ul li { display: flex; align-items: center; justify-content: center; width: 46px; height: 44px; border: 1px solid lightgray; background-color: #fff; text-align: center; border-radius: 5px; margin: 0 2px;}
.main-user-buy ul .buy-button { padding: 0 32px; background-color: #606DB8; }
.buy-button a { color: #fff;}

/* 리뷰 */

.main-review { margin-top: 80px; text-align: left;}
.main-review h3 { margin-bottom: 24px; font-size: 1.5em; color: #606DB8; position:relative;}
.main-review h3:before { content:""; width: 100%; height: 3px; background-color: lightgray; position: absolute; bottom: -4px; left: 0;}
.main-review-write { margin-top: 55px; overflow: hidden;}
.main-review-write input { height: 210px; width: 96%; margin: 0 auto; border: 2px solid lightgray;}
.main-review-write button { float: right; padding: 8px 32px; margin-top: 20px; background-color: #606DB8; border: 1px solid lightgray; color: #fff; text-align: center; border-radius: 5px; }

.main-show-review { margin-top: 36px;}
.review-all .review-all-hd { display: flex; justify-content: space-between; align-items: center; font-size: 24px; border-bottom: 2px solid lightgray; }
.review-all .review-all-hd li a { color: rgb(82, 77, 77); }
.review-all .review-all-hd li:last-child { font-size: 20px; }

.review-list ul .review-list-info { width: 20%;}
.review-list ul .review-list-cont { width: 80%;}
.review-list .be-data { display: flex; justify-content: center; align-items: center; padding: 6px 0 8px 12px; border-bottom: 1px solid lightgray;}

/* 푸터 */

#footer { width: 100%; border-top: 1px solid #dbdbdb }
.footer {  text-align: center; padding: 20px 50px; font-size: 10px;}
.footer li { position: relative; display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer address { padding-top: 15px;}
.footer li:before { content: ''; width: 1px; height: 12px; background-color: #dbdbdb; position: absolute; left:0; top: 2px;}
.footer li:first-child:before { width: 0; }