@import "./font.css";
@import "./default.css";
@import "./font-awesome.css";

/* 전체 레이아웃 */
#wrap {
    width: 100%;
}
#header {
    width: 100%;
}
#main {
    width: 100%;
}

/* 공용 컨테이너 */
.container {
    width: 950px;
    margin: 0 auto;
    text-align: center;
}

/* 로그인, 회원가입, 주문확인 */
.login.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* 레이아웃 여백 */
.row {
}

/* 헤더 */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.header-logo {
}
.header-logo h1 {
    color: #606db8;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.header-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.header-user ul li {
    display: inline-block;
}

.header-user-login ul li {
    display: inline-block;
    padding: 20px 0 16px 16px;
}
.header-user-login ul li a {
    font-size: 20px;
    color: gray;
}

.header-user-info ul li {
    position: relative;
    display: inline-block;
    padding: 0 0 16px 16px;
    margin-left: 38px;
}
.header-user-info ul li:last-child:before {
    content: "";
    width: 75px;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 5px;
    right: -42px;
}
.header-user-info ul li a {
    font-size: 30px;
}

/* login */
#login .login-area {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.login-area .login-tit {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 400;
}
.login-area .login-form-label {
    display: inline-block;
    margin: 0 8px 4px 8px;
}
.login-area-center {
    text-align: center;
}
.login-button input {
    margin-top: 40px;
    height: 46px;
    color: #fff;
    padding: 0 15px;
    display: block;
    font-size: 16px;
    width: 105%;
    background: #606db8;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}

.login-id,
.login-pw,
.login-button {
    font-size: 2rem;
}
/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
}

.modal.active {
    opacity: 1;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #8899fb;
}
.modal-content > .fa {
    font-size: 23px;
}
.modal-text {
    padding: 3px 50px 0 10px;
}

.close-modal-btn {
    border: none;
    background-color: transparent;
    color: rgb(128, 128, 128);
    font-size: 37px;
    cursor: pointer;
    padding-top: 3px;
}

.close-modal-btn:focus {
    outline: none;
}

.modal.active .modal-content {
    opacity: 80%;
    transform: translate(-50%, 0%);
}
