@import "./fonts.css";
@import "./default.css";
@import "./font-awesome.css";

#wrap {
    width: 100%;
    font-family: "Noto Sans KR";
}
#header {
    width: 100%;
}
#main {
    width: 100%;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.row {
}

/* 헤더 css */
.header {
    width: 100%;
}

.header-top-list {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-top-item {
    display: inline-flex;
    align-items: center;
}

.header-top-item .join,
.header-top-item .login {
    display: inline-flex;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #787878;
}

.header-top-item:first-child::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background: #e6e6e6;
}

.header-title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-title-logo {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.header-title-link {
    display: flex;
    align-items: center;
}

.header-title-link .logo-img {
    width: 50px;
    height: 50px;
    padding-right: 8px;
}

.header-title-link .header-title-name {
    font-weight: 700;
    font-size: 50px;
    color: #606db8;
}

.header-title-search {
    display: flex;
    align-items: flex-start;
    margin-right: 8px;
}

.header-title-search-bar {
    position: relative;
    display: flex;
    width: 300px;
    border: 2px solid #606db8;
    border-radius: 50px;
}

.search-img {
    position: absolute;
    width: 17px;
    top: 11px;
    left: 12px;
    margin-right: 12px;
}

.search-input {
    width: 100% !important;
    height: 100% !important;
    padding: 10px 12px !important;
    margin-left: 35px;
    border: none !important;
    background: none !important;
    font-size: 14px;
}

.search-input:focus {
    outline: none;
}

.header-title-info {
    display: flex;
    align-items: center;
}

.header-info-item {
    display: inline-flex;
    margin: 0 6px;
}

.header-info-basket,
.header-info-my {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.basket-img,
.my-img {
    width: 28px;
    height: 28px;
}

main .header-text {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #dbdbdb;
}

main .header-text {
    color: #000;
}
main .header-text > span {
    position: relative;
    padding-left: 10px;
}

main .header-text::marker {
    content: "\f053";
    font-family: "FontAwesome";
    color: #606db8;
    font-size: 25px;
}

main h3 {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    color: #606db8;
    font-weight: 500;
    padding: 20px 0;
}

.table {
    width: 80%;
    height: 780px;
    margin: 0 auto 100px auto;
    display: grid;
    background-color: white;
    border: 2px solid rgba(128, 128, 128, 0.224);
    font-size: 17px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr 6fr;
    grid-template-areas:
        "name name-field"
        "id id-field"
        "email email-field"
        "password password-field";
}

.name-field {
    position: relative;
    height: 180px;
}
.name-field small {
    position: absolute;
    bottom: 6px;
}


.id-field {
    padding-left: 28px;
    color:#606db8;
    font-size: 14px;
}

.change-userid { 
    margin-left: 8px;
}

.table > .default {
    padding-right: 20px;
    border: 1px solid #ffffff;
    background-color: #cfd2e287;
    display: flex;
    align-items: center;
    justify-content: end;
}

.table > .field {
    font-weight: 500;
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
}

.table > .field input {
    width: 87%;
    margin: 5px 0;
}

.table .email-field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.table .email-field > button {
    width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: 450;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    background: #606db8;
}

.email-field {
    position: relative;
}

.email-field small {
    position: absolute;
    bottom:8px;
}

.table .password-field input {
    border: 1px solid darkgrey;
    position: relative;
}

.table .password-field p {
    padding-top: 10px;
}

.table .password-field ul > li::before {
    content: "❈ ";
}

.table .password-field button {
    width: 120px;
    height: 45px;
    font-size: 16px;
    font-weight: 450;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    background: #606db8;
}

/* 유효성 검사용 작업 중 */

.red small {
    font-size: 14px;
    color: #e74c3c;
    visibility: visible;
}

.red input {
    outline: 2px solid red;
}

.red input:focus {
    outline: 2px solid red;
}

.green small {
    font-size: 14px;
    color: #22d14b;
    visibility: visible;
}

small {
    visibility: hidden;
    font-size: 13px;
    color: #e74c3c;
    padding: 0px 0px 5px 10px;
    margin-bottom: 10px;
}

.error small {
    visibility: visible;
}

.pwdform {
    position: relative;
}
.unlock-icon {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 10px;
    color: grey;
}

.lock-icon {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 10px;
    color: #7987da;
}

.error .unlock-icon {
    color: rgb(224, 49, 0);
}

.success .unlock-icon {
    visibility: hidden;
}

.error .lock-icon {
    visibility: hidden;
}
.success .lock-icon {
    visibility: visible;
}

/* 유효성 검사용 작업 중 */

#footer {
    width: 100%;
    border-top: 1px solid #dbdbdb;
}

.footer {
    text-align: center;
    padding: 20px 50px;
    font-size: 10px;
}
.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
}
.footer address {
    padding-top: 15px;
}
.footer li:before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 2px;
}

.footer li:first-child:before {
    width: 0;
}
