@import "./fonts.css";
@import "./default.css";
@import "./font-awesome.css";

#wrap {
    width: 100%;
    font-family: "Noto Sans KR";
}
#header {
    width: 100%;
}
#main {
    width: 100%;
}

.container {
    width: 950px;
    margin: 0 auto;
    /* text-align: center; */
}

.row {
}

/* 헤더 css */
.header {
    width: 100%;
}

.header-top-list {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-top-item {
    display: inline-flex;
    align-items: center;
}

.header-top-item .join,
.header-top-item .login {
    display: inline-flex;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #787878;
    cursor: pointer;
}

.header-top-item:first-child::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background: #e6e6e6;
}

.header-title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-title-logo {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.header-title-link {
    display: flex;
    align-items: center;
    padding-left: 14px;
}

.header-title-link .logo-img {
    width: 50px;
    height: 50px;
    padding-right: 8px;
}

.header-title-link .header-title-name {
    font-weight: 700;
    font-size: 50px;
    color: #606db8;
}

.header .header-title-search {
    display: flex;
    align-items: flex-start;
    margin-right: 8px;
}

.header .header-title-search-bar {
    position: relative;
    display: flex;
    width: 300px;
    border: 2px solid #606db8;
    border-radius: 50px;
}

.header .search-img {
    position: absolute;
    width: 17px;
    top: 11px;
    left: 12px;
    margin-right: 12px;
}

.header .search-input {
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    margin-left: 35px;
    border: none;
    background: none;
    font-size: 14px;
}

.header .search-input:focus {
    outline: none;
}

.header-title-info {
    display: flex;
    align-items: center;
}

.header-info-item {
    display: inline-flex;
    margin: 0 6px;
}

.header-info-basket,
.header-info-my {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.basket-img,
.my-img {
    width: 28px;
    height: 28px;
}

main .header-text {
    font-size: 25px;
    color: #000;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #dbdbdb;
}

.main-profile {
    height: 200px;
    background-color: #606db8;
    border-radius: 15px;
    margin: 20px 0;
    display: flex;
}

.main-profile > .main-avata {
    width: 292px;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.main-profile > .main-avata > img {
    border-radius: 100px;
}

.main-profile > .main-aboutUser {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-profile > .main-aboutUser > .top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.main-profile > .main-aboutUser > .top > h3 {
    font-size: 25px;
    font-weight: 500;
    padding-right: 10px;
}

.update-detail-btn {
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    margin: auto;
    background: white;
}

.main-profile > .main-aboutUser > p {
    font-size: 17px;
}

.main-orderlist {
    margin-bottom: 100px;
    font-weight: 400;
}

.order-date {
    font-weight: 600;
    font-size: 18px;
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(210, 210, 210);
    padding: 20px 0 10px 0;
}

.order-content {
    height: 180px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 200px 1fr 130px 130px 130px;
    grid-template-areas: "cover title price delivery-status button";
    border-bottom: 1px solid #dbdbdb;
}

.cover {
    width: 108px;
    height: 162px;
}

.title,
.price,
.delivery-status {
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
}

.delivery-status {
    font-size: 16px;
    color: #606db8;
}

.review-btn {
    margin: 5px 0;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border: 2.5px solid #606db8;
    border-radius: 10px;
    color: #606db8;
    background: white;
}

.review-btn:hover {
    background-color: #606db8;
    color: white;
}

/* 주문정보 수정 모달 */
.edit-order {
    display: none;
    position: fixed;
    top: 10%;
    left: 34%;
    width: 400px;
    height: 650px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.edit-order.on {
    display: block;
}

.edit-order-content {
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.edit-order-content > h1 {
    width: 83%;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #57619f95;
}
.edit-order-content label {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 17px;
}
.edit-order-content input {
    width: 300px;
    margin-bottom: 15px;
}

.edit-order-content .postcode-input {
    display: flex;
}

.edit-order-content .postcode-input > input {
    width: 160px;
}

.edit-order-content .postcode-input > button {
    width: 130px;
    height: 45px;
    border-radius: 4px;
    background-color: #6f79a8;
    color: white;
    margin-left: 10px;
}

.edit-order-btn {
    display: flex;
    justify-content: space-between;
}
.edit-order-btn button {
    margin: 10px;
    padding: 10px;
    width: 154px;
    border-radius: 8px;
    background: #e6e6e6;
}

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
}

.modal.active {
    opacity: 1;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #8899fb;
}
.modal-content > .fa {
    font-size: 23px;
}
.modal-text {
    padding: 0 50px 0 10px;
}

.close-modal-btn {
    border: none;
    background-color: transparent;
    color: rgb(128, 128, 128);
    font-size: 37px;
    cursor: pointer;
}

.close-modal-btn:focus {
    outline: none;
}

.modal.active .modal-content {
    opacity: 80%;
    transform: translate(-50%, 0%);
}
/* 푸터 */

#footer {
    width: 100%;
    border-top: 1px solid #dbdbdb;
}

.footer {
    text-align: center;
    padding: 20px 50px;
    font-size: 10px;
}
.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
}
.footer address {
    padding-top: 15px;
}
.footer li:before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 2px;
}

.footer li:first-child:before {
    width: 0;
}
