@import "./css/fonts.css";
@import "./css/default.css";
@import "./css/font-awesome.css";
@import "./css/animate.min.css";

/* 전체 레이아웃 */
#wrap {
    width: 100%;
    background-color: #eee;
}
#header {
    width: 100%;
}
#main {
    width: 100%;
}

/* 공용 컨테이너 */
.container {
    width: 950px;
    margin: 0 auto;
    text-align: center;
}

/* 헤더 css */
.header {
    width: 100%;
}

.header-top-list {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-top-item {
    display: inline-flex;
    align-items: center;
}

.header-top-item .join,
.header-top-item .login,
.header-top-item .guest {
    display: inline-flex;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #787878;
    cursor: pointer;
}

.header-top-item:first-child::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background: #e6e6e6;
}

.header-title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-title-logo {
    display: flex;
    margin: 0;
    margin-right: auto;
}

.header-title-link {
    display: flex;
    align-items: center;
    padding-left: 14px;
}

.header-title-link .logo-img {
    width: 50px;
    height: 50px;
   padding-right: 8px;
}

.header-title-link .header-title-name {
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: #606db8;
}

.header-title-link .header-title-name:hover span {
    opacity: 1;
    top: -24px;
}

.header-title-link .header-title-name span {
    position: absolute;
    left: 50%;
    top: -40px;
    font-size: 12px;
    width: 100px;
    color: #fff;
    transform: translateX(-50%);
    line-height: 1.6;
    background: #606db8;
    padding: 3px 9px;
    border-radius: 6px 0px;
    font-weight: 400;
    opacity: 0;
    transition: all 0.3s ease;
}
.header-title-link .header-title-name span:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    border-top: 5px solid #606db8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -4px;
}
    


.header-title-search {
    display: flex;
    align-items: flex-start;
    margin-right: 8px;
}

.header-title-search-bar {
    position: relative;
    display: flex;
    width: 300px;
    border: 2px solid #606db8;
    border-radius: 50px;
}

.search-img {
    position: absolute;
    width: 17px;
    top: 11px;
    left: 12px;
    margin-right: 12px;
}

.header .search-input {
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    margin-left: 35px;
    border: none;
    background: none;
    font-size: 14px;
}

.header .search-input:focus {
    outline: none;
}

.header-title-info {
    display: flex;
    align-items: center;
}

.header-info-item {
    display: inline-flex;
    margin: 0 6px;
}

.header-info-basket,
.header-info-my {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.basket-img,
.my-img {
    width: 28px;
    height: 28px;
}

/* swiper */
.swiper {
    width: 950px;
    height: 400px;
    margin: 24px 0;
    border-radius: 18px;
    z-index: 1;
}
.swiper-slide.fst {
    background: url("https://media.discordapp.net/attachments/1097500162722627589/1100816919638061198/001.png?width=1799&height=719")
        center center / cover no-repeat;
}
.swiper-slide.snd {
    background: url("https://media.discordapp.net/attachments/1097500162722627589/1100816919889711145/002.png?width=1799&height=719")
        center center / cover no-repeat;
}
.swiper-slide.trd {
    background: url("https://media.discordapp.net/attachments/1097500162722627589/1100816920132989059/003.png?width=1799&height=719")
        center center / cover no-repeat;
}
.swiper-slide.fth {
    background: url("https://media.discordapp.net/attachments/1097500162722627589/1100816920409817218/004.png?width=1799&height=719")
        center center / cover no-repeat;
}
.swiper-slide.fiv {
    background: url("https://media.discordapp.net/attachments/1097500162722627589/1100816920632111164/005.png?width=1799&height=719")
        center center / cover no-repeat;
}

.swiper-button-prev::after {
    color: #fff;
    transition: all 0.1s ease;
}

.swiper-button-next::after {
    color: #fff;
    transition: all 0.1s ease;
}

.swiper-button-prev:hover:after {
    color: #000;
}

.swiper-button-next:hover:after {
    color: #000;
}

/* 카테고리 네비 css */
.all-category-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.all-category-container {
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 5px 5px -5px gray;
    background-color: white;
}

.all-category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-category-list .fa-bars {
    font-size: 23px;
    padding-right: 10px;
    color: #787878;
}

.populate-book-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 18px;
}

.all-category-link {
    display: inline-block;
    padding: 18px;
}

.all-category-text,
.populate-book-list li a {
    font-weight: 500;
    font-size: 21px;
    color: rgb(112, 112, 112);
    transition: all 0.35s ease;
}

.all-category-text:hover {
    color: #000;
}

.populate-book-list li:hover a {
    color: #606db8;
}

/* 메인 css */
.carousel-section {
    margin-top: 50px;
}

.carousel-section-content {
    position: relative;
    width: 950px;
    height: 400px;
    overflow: hidden;
}

.carousel-section-list {
    display: flex;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.carousel-section-item {
    list-style: none;
}

.carousel-img {
    list-style: none;
    width: 950px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/* .select-category-section {
    margin-top: 100px;
}

.select-category-btn-content {
    width: 100%;
}

.select-category-btn-list {
    display: flex;
    justify-content: space-around;
}

.select-category-best-btn,
.select-category-new-btn,
.select-category-recommend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #606db8;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.select-category-content {
    width: 100%;
    margin-top: 40px;
}

.best-category-content-list,
.new-category-content-list,
.recommend-category-content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.best-category-content-item,
.new-category-content-item,
.recommend-category-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.best-item-img {
    width: 180px;
    border-radius: 10px;
}

.best-item-title {
    width: 180px;
    overflow: visible;
    font-weight: 700;
    font-size: 14px;
} */

/*오늘의 책*/
.introduction-corner {
    margin: 50px auto;
}

.introduction-corner > h2 {
    text-align: start;
    padding: 20px;
    font-size: 30px;
}

.introduction-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.introduction-content img {
    width: 229px;
    height: 337px;
    filter: drop-shadow(0 0 4px grey);
}

.introduction-detail {
    text-align: start;
    padding: 0 50px 0 100px;
}

.introduction-detail p {
    padding-bottom: 15px;
}

.introduction-detail .title {
    font-size: 23px;
    font-weight: 500;
}

.introduction-detail > .author {
    color: #787878;
}

.introduction-detail > .price {
    font-size: 16px;
    font-weight: 600;
}
.introduction-detail > .intro {
    font-weight: 600;
    color: #606db8;
}

.introduction-detail > .description {
    color: #787878;
}
/* 책 리스트 */

.products-list-header {
    text-align: start;
    padding: 20px;
    font-size: 17px;
}

.products-list-body {
    height: 440px;
    position: relative;
    overflow: hidden;
}

.products-list-body .slides {
    position: absolute;
    width: 5700px;
    left: 0;
    transition: left 0.5s ease-out;
}

.products-list-info {
    float: left;
    height: 400px;
    width: 160px;
    border: 0;
    display: inline-block;
    padding: 20px 15px;
}

.products-list-info img {
    width: 160px;
    height: 225px;
    filter: drop-shadow(0 0 4px grey);
    border-radius: 10px;
    padding-bottom: 20px;
}
.products-list-info > p {
    padding-bottom: 5px;
    text-align: start;
}
.products-list-info > p.title {
    display: block;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-list-info > p.introduction {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.products-list-carousel {
    position: relative;
}
.chevron-btn {
    position: absolute;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #a8a7a7;
    cursor: pointer;
}

.fa-chevron-circle-left {
    left: -50px;
    top: 180px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fa-chevron-circle-right {
    right: -50px;
    top: 180px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* top으로 스크롤 되는 버튼 */

.scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 40px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    color: #9e9e9e;
    background-color: white;
    filter: drop-shadow(0 0 3px grey);
    transition: opacity 0.7s ease-in-out;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-to-top > p {
    font-size: 13px;
    font-weight: 500;
}

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 0;
}

.modal.active {
    opacity: 1;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: #8899fb;
}
.modal-content > .fa {
    font-size: 23px;
}
.modal-text {
    padding: 0 50px 0 10px;
}

.close-modal-btn {
    border: none;
    background-color: transparent;
    color: rgb(128, 128, 128);
    font-size: 37px;
    cursor: pointer;
}

.close-modal-btn:focus {
    outline: none;
}

.modal.active .modal-content {
    opacity: 80%;
    transform: translate(-50%, 0%);
}

/* 푸터 css */
#footer {
    width: 100%;
    border-top: 1px solid #dbdbdb;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    height: 100px;
    padding: 20px 50px;
    font-size: 10px;
}

.footer li {
    position: relative;
    display: inline;
    padding: 0 7px 0 10px;
    white-space: nowrap;
}

.footer address {
    padding-top: 15px;
}

.footer li:before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 2px;
}


/* 미디어 쿼리 */

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .row { 
        padding: 0 15px;
    }
}
